<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dec.DiscordIPC" version="1.2.2" targetFramework="net472" />
  <package id="Discord.Net" version="3.15.0" targetFramework="net472" />
  <package id="Discord.Net.Commands" version="3.15.0" targetFramework="net472" />
  <package id="Discord.Net.Core" version="3.15.0" targetFramework="net472" />
  <package id="Discord.Net.Interactions" version="3.15.0" targetFramework="net472" />
  <package id="Discord.Net.Rest" version="3.15.0" targetFramework="net472" />
  <package id="Discord.Net.Webhook" version="3.15.0" targetFramework="net472" />
  <package id="Discord.Net.WebSocket" version="3.15.0" targetFramework="net472" />
  <package id="DiscordRichPresence" version="1.2.1.24" targetFramework="net472" />
  <package id="DiscordWebRPC" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net472" />
  <package id="NAudio" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.Asio" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.Core" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.Midi" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.Wasapi" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.WinForms" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.WinMM" version="2.2.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net472" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.Interactive.Async" version="6.0.1" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Async" version="6.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Security" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net472" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net472" />
</packages>